<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">                
                <resource id="I98commerce_Extensions::i98commerceextensions" title="I98commerce Extensions">
                        <resource id="I98commerce_Prodfaqs::faqs_main" title="Product Faqs" sortOrder="30">
                            <resource id="I98commerce_Prodfaqs::topic" title="Manage Topics" sortOrder="10" />
                            <resource id="I98commerce_Prodfaqs::faqs" title="Manage Faqs" sortOrder="20" />
                            <resource id="I98commerce_Prodfaqs::importexport" title="Manage Import/Export" sortOrder="30" />
                        </resource>
                </resource>                
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">                            
                                <resource id="I98commerce_Prodfaqs::faqs_config" title="Product Faqs Section" />                            
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
